@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'antd/dist/antd.min.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

:root {
  --primary-color: #f1692f;
}

body {
  margin: 0;
  padding: 0;
  background: #efefef;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
